.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 95vh;
  width: 50%;
  flex-wrap: wrap;
}
